.logo{
    text-align: center;
}
.ole{
    color: white;
    padding-right: 10px;
    text-align: center;

}
.titulo{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}
.frase{
    text-align: center;
   margin: 100px;
   color: white;
   font-size: 30px;
}
.video{
  padding: 50px;
 
   
}
h2{
    text-align: center;
    font-size: 50px;
    color: white ;
}
.formu{
    padding-top: 10px;
}
.maps{
    text-align: center;
   
}

